<launch>
  <!-- sensor -->
  <arg name="sensor" default="$(env TURTLEBOT_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->

  <!-- Map server -->
  <arg name="map_file" default="$(env TURTLEBOT_MAP_FILE)"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" >
   <param name="frame_id" value="map" />    
  </node>

  <!-- AMCL -->
  <arg name="custom_amcl_launch_file" default="$(find turtlebot_navigation)/launch/includes/amcl/amcl.launch.xml"/>
  <arg name="initial_pose_x" default="2.1833"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="1.05398"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="-6.4"/>
  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
  <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/$(arg sensor)_costmap_params.yaml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>

  <node pkg="tf" type="static_transform_publisher" name="base_laser_link_to_laser" args="0 0 0 0 0 0 base_laser_link laser 100"/>


</launch>

